.fis{
    width: 25vw;
    background-color: red;
    position: absolute;
}
.sec{
    width: 100vw;
    background-color: yellow;
    position: absolute;
}
.ori{
    display: flex;
    flex-direction: row;
}